.thumbnail__item {
    display: inline-block;
    margin: 10px 0 10px 10px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
}

.thumbnail__item img {
    position: absolute;
}

.thumbnail__item:hover {
    cursor: pointer;
}

.thumbnail-current {
    box-shadow: 0 0 0 5px #2e66a7;
}