.thumbnail{
    border-top: solid 121px transparent;
    white-space: nowrap;
    -webkit-transition: -webkit-transform .3s ease-in;
    -moz-transition: -moz-transform .3s ease-in;
    -ms-transition: -ms-transform .3s ease-in;
    -o-transition: -o-transform .3s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.thumbnail::-webkit-scrollbar {
    display: none;
}