.control {
	height: 100%;
	width: 30%;
    color: #555;
    font-size: 50px;
    text-align: center;
}

.b-page .control:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
}

.b-page:hover .control {
    opacity: 0.7;
}

.b-page .control.disable-control {
    opacity: 0;
    cursor: default;
}

.b-page .control.disable-control:hover {
    opacity: 0;
    cursor: default;
}

.b-page .control.disable-controls {
    opacity: 0;
}

.b-page .control.disable-controls:hover {
    opacity: 0;
}